attr==0.3.2
attrs==21.2.0
bpython==0.22.1
brotli==1.0.9
ConfigParser==5.2.0
coreschema==0.0.4
cryptography==3.4.8
cx_Oracle==8.3.0
Cython==0.29.30
dl==0.1.0
docutils==0.19
HTMLParser==0.0.2
importlib_metadata==4.6.4
ipdb==0.13.9
ipython==8.4.0
ipywidgets==7.7.1
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.9.1
Markdown==3.4.1
MySQL-python==1.2.5
numpy==1.23.1
ordereddict==1.1
Pillow==9.2.0
protobuf==4.21.4
psycopg2==2.9.3
pylibmc==1.6.1
pymemcache==3.5.2
pyOpenSSL==22.0.0
python_memcached==1.59
pywatchman==1.4.1
PyYAML==6.0
railroad==0.5.0
sets==0.3.2
Sphinx==5.1.1
tblib==1.7.0
testsuite==0.1.2
tornado==6.2
uritemplate==4.1.1
xmlrpclib==1.0.1
zipp==1.0.0
