
autopep8==1.6.0
bcrypt==3.2.0
coreapi==2.3.3
coreapi-cli==1.0.9
coreschema==0.0.4
Django==4.0.6
django-cors-headers==3.13.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
jsonschema==3.2.0
PyYAML==5.4.1
uritemplate==4.1.1

