@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  scroll-behavior: smooth;

}


* {
  box-sizing: border-box;
  }

body {
  background-color: #f3f4f6;
  color: #2f2d3c;

  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  padding: 0 calc(3.5vw + 5px);
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #ffffff;
}
a {
    color: #1f1d2b;
    text-decoration: none;
}

main {
  padding: 4rem;
}

.mg-large {
 margin: 2rem calc(12vw);
}

.mg-top {
  top: 72px;
}

.card-container {
  display: flex;
  flex-direction: column;
 padding: 0 1rem;
    background: rgba(152, 180, 220, 0.1);
 border-top: 1px solid #98b4dc;
}

.p-home {
  padding: 2rem 0;
}
.cards {
  display: grid;
gap: 1rem;
grid-template-columns: repeat(4,1fr);
img {
  width: 100%;
  border-radius: 4px;
}
}

.card-container a {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
   border-radius: 4px;
   padding: 12px;
  background: rgba(152, 180, 220, 0.3);
 }

 .card-container a:hover {
  background: rgba(152, 180, 220, 0.8);
 }
.loader {
  width: 20%;
  align-self: center;
  text-align: center;
  margin: 2rem 0;
  border: 1px solid #98b4dc;
  border-radius: 6px;
}

.service_description {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  font-size: 14px;
  line-height: 18px;
}

.service_details {
  display:flex;
  justify-content: space-between;
  color: rgba(107,107,107,1.00);
  line-height: 16px;
  font-size:12px;
}
.about, .contact {
  display: flex; 
  justify-content: space-between;
}


.about {
  padding: 1rem 0;
}
.contact {
  align-items: center;
}
.about p {
  padding-right: 2rem;
  margin-top: 0;
}

.about h3 {
  margin-top: 0;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  padding: 0.4rem 0;
}



