@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  scroll-behavior: smooth;

}


* {
  box-sizing: border-box;
  }

body {
  background-color: #f3f4f6;
  color: #2f2d3c;

  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 6rem;
  padding: 0 calc(3.5vw + 5px);
  background-color: #ffffff;
}
a {
    color: #1f1d2b;
    text-decoration: none;
}

main {
  padding: 4rem;
}

.service {
}

section {
  display: flex;
  flex-direction: column;
}
.loader {
  width: 20%;
  align-self: center;
  text-align: center;
  padding: 0.75rem 1rem;
  margin: 2rem 0;
  border: 1px solid #98b4dc;
  border-radius: 6px;
}

.service_description {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.about, .contact {
  display: flex; 
  justify-content: space-between;
}


.about {
  padding: 1rem 0;
}
.contact {
  align-items: center;
}
.about p {
  padding-right: 2rem;
  margin-top: 0;
}

.about h3 {
  margin-top: 0;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  padding: 0.4rem 0;
}



