@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  scroll-behavior: smooth;

}


* {
  box-sizing: border-box;
  }

body {
  background-color: #f3f4f6;
  color: #2f2d3c;

  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

a {
    color: #1f1d2b;
    text-decoration: none;
}

main {
  padding: 1rem;
}

.service {
}

.service_description {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
