html {
  scroll-behavior: smooth;

}


* {
  box-sizing: border-box;
  }

body {
  background-color: #f3f4f6;
  color: #2f2d3c;

  font-family: Avenir-Roman, sans-serif;
  margin: 0;
  padding: 0;
}

a {
    color: #1f1d2b;
    text-decoration: none;
}
